@inject TaskService TaskService

<div id="task-form">
    <input @onkeydown="KeyDown" @bind="_request.Text" @bind:event="oninput" id="input-text" placeholder="Write a new task // Write our description" type="text"/>
    <input id="input-date" type="datetime-local" @bind="_request.Deadline"/>
    <div>
        <button id="send">send</button>

    </div>
</div>

@code {

    private CreateTaskRequest _request = new CreateTaskRequest
    {
        Status = ETaskStatus.ToDo
    };

    private async Task KeyDown(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;

        var response = await TaskService.Create(_request);

        if (!response.Success)
            return;

        _request.Text = "";
        _request.Deadline = DateTime.Now;
    }

}